.App {
  margin: 0 auto;
  align-items: center;
  position: relative;
  padding: 0 24px;
}

.main-grid {
  margin-top: 54px;
  display: grid;
  grid-gap: 24px;
  padding-top: 24px;
  padding-bottom: 24px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  padding: 4px;
  column-width: 185px;
  grid-gap: 36px;
}

.grid-container a {
  text-decoration: none;
}

.group-header {
  flex-grow: 1;
}

.group-header a {
  line-height: 1em;
  font-size: 1.5rem;
  font-weight: 700;
  color: #fefefe;
}

.group-header a:hover {
  text-decoration: underline;
}

.group-header p {
  color: #a7a7a7;
}

.main-component {
  display: flex;
  flex-direction: column;
}

.see-all {
  color: #a7a7a7;
  text-decoration: none;
  font-size: 12px;
  font-weight: 700;
}

.see-all:hover {
  text-decoration: underline !important;
}

.grid-item {
  color: black;
}

.card-info a,
.card-info span {
  text-decoration: none !important;
  color: black;
}

.card {
  padding: 16px 10px;
  display: block;
  width: 152px;
  background-color: #151515;
  border-radius: 8px;
}

.card:hover {
  background-color: #2d2b2b;
}

.poster {
  position: relative;
  display: inline-block;
  border-radius: 12px;
}

.poster img {
  height: 140px;
  border-radius: 8px;
  padding: 0 8px;
}

.card-info {
  flex-wrap: nowrap;
  padding: 17px 8px 0;
}
